<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Institute of Natural Sciences, SJTU 上海交通大学自然科学研究院</title>

		<link href="./resource/application-40fd648301e09aed1a0c7f26f434dea8.css" media="all" rel="stylesheet" type="text/css">
		<link href="./resource/append.css" media="all" rel="stylesheet" type="text/css">
		
		<!--[if lt IE 7]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
		<![endif]-->
		<script src="./resource/application-6b3b47fe5c1f8fd57344af8f6060214f.js" type="text/javascript"></script>
		<script type="text/javascript" src="./resource/marquee.js"></script>
		
		<script src="//cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>

	</head>

	<body data-gclp-initialized="true" data-gistbox-initialized="true">
		<div id="header" style="">
			<div class="container">
				<img alt="Logo" src="./resource/logo2.png" style="margin:0px;height:100px ">
					<div style="float: right">
						<div style="display: inline-block;height: 28px;width: 42px;font-size: 15px;vertical-align: bottom;color: #fff;">
					<a href="" style="color: #fff;">中文</a></div>
					<img src="./resource/search.png" style="width: 31px;margin-top: 19px;margin-right: 30px;">
				</div>
			</div>
		</div>

		<div id="menu" style="">
			<div class="container " style="">
				<div class="navbar" style="background-color:#;margin:0px 0;height:42px;color:white;" id="navbar"></div>
				<script>$("#navbar").load("menu.html", function(){ $(".menuResearch").addClass("currentMenu");});</script>
			</div>
		</div>

		<div class="container " style="">
			
			<div class="nav-title" style="padding-top: 20px; padding-left: 20px;">
				<a href style="text-decoration: none !important; cursor: text !important;">Publications</a>
			</div>

			<style>
				tr { border-top: 1px solid #BFBFBF; }
				tr:first-child { border-top:0; color: #555; font-weight: bold; font-size: 14px; }
				td { padding-top: 5px; padding-bottom: 5px; }
			</style>
			
			<div class="right" style="float: right; ">
				<table style="margin: 25px;" id="tb">
					
				</table>
			</div>
			
			<script>
				var ths = [{"year":"2016","author":"Sangxia Huang， Pinyan Lu","title":"A Dichotomy for Real Weighted Holant Problems","journal":"Computational Complexity，2016，25（1）：255-304"},
{"year":"2016","author":"Pinyan Lu, Kuan Yang, Chihao Zhang","title":"FPTAS for Hardcore and Ising Models on Hypergraphs","journal":"STACS2016:51:1-51:14"},
{"year":"2016","author":"Lingxiao Huang,Pinyan Lu,Chihao Zhang","title":"Canonical Paths for MCMC: from Art to Science.","journal":"SODA2016:514-527"},
{"year":"2015","author":"Xi Chen,Martin E.Dyer,Leslie Ann Goldberg,Mark Jerrum,Pinyan Lu,Colin McQuillan,David Richerby","title":"The complexity of approximating conservative counting CSPs.","journal":"J. Comput. Syst. Sci.81(1):311-329(2015)"},
{"year":"2015","author":"Pinyan Lu,Tao Xiao","title":"Improved Efficiency Guarantees in Auctions with Budgets.","journal":"EC2015:397-413"},
{"year":"2015","author":"Jingcheng Liu,Pinyan Lu","title":"FPTAS for Counting Monotone CNF.","journal":"SODA2015:1531-1548"},
{"year":"2015","author":"Jingcheng Liu,Pinyan Lu","title":"FPTAS for #BIS with Degree Bounds on One Side.","journal":"STOC2015:549-556"},
{"year":"2015","author":"Ning Chen,Nikolai Gravin,Pinyan Lu","title":"Competitive Analysis via Benchmark Decomposition.","journal":"EC2015:363-376"},
{"year":"2014","author":"Pinyan Lu,Jack Snoeyink","title":"Frontiers in algorithmics.","journal":"Theor. Comput. Sci.532:1(2014)"},
{"year":"2014","author":"Jin-Yi Cai,Pinyan Lu,Mingji Xia","title":"The complexity of complex weighted Boolean #CSP.","journal":"J. Comput. Syst. Sci.80(1):217-236(2014)"},
{"year":"2014","author":"Ning Chen,Nick Gravin,Pinyan Lu","title":"Truthful Generalized Assignments via Stable Matching.","journal":"Math. Oper. Res.39(3):722-736(2014)"},
{"year":"2014","author":"Pinyan Lu,Menghui Wang,Chihao Zhang","title":"FPTAS for Weighted Fibonacci Gates and Its Applications.","journal":"ICALP (1)2014:787-799"},
{"year":"2014","author":"Jingcheng Liu,Pinyan Lu,Chihao Zhang","title":"FPTAS for Counting Weighted Edge Covers.","journal":"ESA2014:654-665"},
{"year":"2014","author":"Jingcheng Liu,Pinyan Lu,Chihao Zhang","title":"The Complexity of Ferromagnetic Two-spin Systems with External Fields.","journal":"APPROX-RANDOM2014:843-856"},
{"year":"2014","author":"Chengyu Lin,Jingcheng Liu,Pinyan Lu","title":"A Simple FPTAS for Counting Edge Covers.","journal":"SODA2014:341-348"},
{"year":"2014","author":"Ning Chen,Nick Gravin,Pinyan Lu","title":"Optimal competitive auctions","journal":"STOC2014:253-262"},
{"year":"2013","author":"Jin-Yi Cai， Pinyan Lu，Mingji Xia","title":"Holographic algorithms by Fibonacci gates","journal":"Linear Algebra and Its Applications，2013，438（2）：690-707。"},
{"year":"2013","author":"Heng Guo,Pinyan Lu,Leslie G. Valiant","title":"The Complexity of Symmetric Boolean Parity Holant Problems.","journal":"SIAM J. Comput.42(1):324-356(2013)"},
{"year":"2013","author":"Jin-Yi Cai,Xi Chen,Pinyan Lu","title":"Graph Homomorphisms with Complex Values: A Dichotomy Theorem.","journal":"SIAM J. Comput.42(3):924-1029(2013)"},
{"year":"2013","author":"Pinyan Lu,Yitong Yin","title":"Improved FPTAS for Multi-spin Systems.","journal":"APPROX-RANDOM2013:639-654"},
{"year":"2013","author":"Pinyan Lu,Lan Yu","title":"Characterization of Truthful Mechanisms for One-Dimensional Single Facility Location Game with Payments.","journal":"WINE2013:333-346"},
{"year":"2013","author":"Nick Gravin,Pinyan Lu","title":"Competitive Auctions for Markets with Positive Externalities.","journal":"ICALP (2)2013:569-580"},
{"year":"2013","author":"Liang Li,Pinyan Lu,Yitong Yin","title":"Correlation Decay up to Uniqueness in Spin Systems.","journal":"SODA2013:67-84"},
{"year":"2013","author":"Jin-Yi Cai,Pinyan Lu,Mingji Xia","title":"Dichotomy for Holant* Problems with Domain Size 3.","journal":"SODA2013:1278-1295"},
{"year":"2013","author":"Xi Chen,Martin E. Dyer,Leslie Ann Goldberg,Mark Jerrum,Pinyan Lu,Colin McQuillan,David Richerby","title":"The complexity of approximating conservative counting CSPs.","journal":"STACS2013:148-159"},
{"year":"2012","author":"Pinyan Lu,Changyuan Yu","title":"Worst-Case Nash Equilibria in Restricted Routing.","journal":"J. Comput. Sci. Technol.27(4):710-717(2012)"},
{"year":"2012","author":"Jin-Yi Cai,Pinyan Lu,Mingji Xia","title":"Holographic reduction, interpolation and hardness.","journal":"Computational Complexity21(4):573-604(2012)"},
{"year":"2012","author":"Jin-Yi Cai,Sangxia Huang,Pinyan Lu","title":"From Holant to #CSP and Back: Dichotomy for Holant c Problems.","journal":"Algorithmica64(3):511-533(2012)"},
{"year":"2012","author":"Sungjin Im,Pinyan Lu,Yayun Wang","title":"Envy-Free Pricing with General Supply Constraints for Unit Demand Consumers.","journal":"J. Comput. Sci. Technol.27(4):702-709(2012)"},
{"year":"2012","author":"Ning Chen,Pinyan Lu,Hongyang Zhang","title":"Computing the Nucleolus of Matching, Cover and Clique Games.","journal":"AAAI2012"},
{"year":"2012","author":"Sangxia Huang,Pinyan Lu","title":"A Dichotomy for Real Weighted Holant Problems.","journal":"IEEE Conference on Computational Complexity2012:96-106"},
{"year":"2012","author":"Jin-Yi Cai,Xi Chen,Heng Guo,Pinyan Lu","title":"Inapproximability after Uniqueness Phase Transition in Two-Spin Systems.","journal":"COCOA2012:336-347"},
{"year":"2012","author":"Liang Li,Pinyan Lu,Yitong Yin","title":"Approximate counting via correlation decay in spin systems.","journal":"SODA2012:922-940"},
{"year":"2012","author":"Xiaohui Bei,Ning Chen,Nick Gravin,Pinyan Lu","title":"Budget feasible mechanism design: from prior-free to bayesian","journal":"STOC2012:449-458"},
{"year":"2011","author":"Jin-yi Cai,Pinyan Lu","title":"Signature Theory in Holographic Algorithms.","journal":"Algorithmica61(4):779-816(2011)"},
{"year":"2011","author":"Jin-yi Cai,Pinyan Lu,Mingji Xia","title":"A computational proof of complexity of some restricted counting problems","journal":"Theor. Comput. Sci.412(23):2468-2485(2011)"},
{"year":"2011","author":"Jin-yi Cai,Pinyan Lu","title":"Holographic algorithms: From art to science.","journal":"J. Comput. Syst. Sci.77(1):41-61(2011)"},
{"year":"2011","author":"Jin-yi Cai,Pinyan Lu,Mingji Xia","title":"Computational Complexity of Holant Problems.","journal":"SIAM J. Comput.40(4):1101-1132(2011)"},
{"year":"2011","author":"Jin-yi Cai,Xi Chen,Pinyan Lu","title":"Non-negatively Weighted #CSP: An Effective Complexity Dichotomy.","journal":"IEEE Conference on Computational Complexity2011:45-54"},
{"year":"2011","author":"Heng Guo,Pinyan Lu,Leslie G. Valiant","title":"The Complexity of Symmetric Boolean Parity Holant Problems - (Extended Abstract).","journal":"ICALP (1)2011:712-723"},
{"year":"2011","author":"Ning Chen,Nick Gravin,Pinyan Lu","title":"On the Approximability of Budget Feasible Mechanisms.","journal":"SODA2011:685-699"},
{"year":"2011","author":"Jin-yi Cai,Pinyan Lu,Mingji Xia","title":"Dichotomy for Holant* Problems of Boolean Domain.","journal":"SODA2011:1714-1728"},
{"year":"2011","author":"Wei Chen,Pinyan Lu,Xiaorui Sun,Bo Tang,Yajun Wang,Zeyuan Allen Zhu","title":"Optimal Pricing in Social Networks with Incomplete Information","journal":"WINE2011:49-60"},
{"year":"2011","author":"Xue Chen,Guangda Hu,Pinyan Lu,Lei Wang","title":"On the Approximation Ratio of k-Lookahead Auction.","journal":"WINE2011:61-71"},
{"year":"2011","author":"Heng Guo,Sangxia Huang,Pinyan Lu,Mingji Xia","title":"The Complexity of Weighted Boolean #CSP Modulo k.","journal":"STACS2011:249-260"},
{"year":"2010","author":"Jin-yi Cai,Pinyan Lu","title":"On blockwise symmetric signatures for matchgates.","journal":"Theor. Comput. Sci.411(4-5):739-750(2010)"},
{"year":"2010","author":"Jin-yi Cai,Pinyan Lu","title":"On Symmetric Signatures in Holographic Algorithms.","journal":"Theory Comput. Syst.46(3):398-415(2010)"},
{"year":"2010","author":"Pinyan Lu,Xiaorui Sun,Yajun Wang,Zeyuan Allen Zhu","title":"Asymptotically optimal strategy-proof mechanisms for two-facility games.","journal":"EC2010:315-324"},
{"year":"2010","author":"Jin-yi Cai,Xi Chen,Richard J. Lipon,Pinyan Lu","title":"On Tractable Exponential Sums.","journal":"FAW2010:148-159"},
{"year":"2010","author":"Jin-yi Cai,Pinyan Lu,Mingji Xia","title":"Holographic Algorithms with Matchgates Capture Precisely Tractable Planar_#CSP.","journal":"FOCS2010:427-436"},
{"year":"2010","author":"Jin-yi Cai,Xi Chen,Pinyan Lu","title":"Graph Homomorphisms with Complex Values: A Dichotomy Theorem.","journal":"ICALP (1)2010:275-286"},
{"year":"2010","author":"Jin-yi Cai,Sangxia Huang,Pinyan Lu","title":"From Holant to #CSP and Back: Dichotomy for HolantcProblems.","journal":"ISAAC (1)2010:253-265"},
{"year":"2010","author":"Sungjin Im,Pinyan Lu,Yajun Wang","title":"Envy-Free Pricing with General Supply Constraints.","journal":"WINE 2010:483-491"},
{"year":"2009","author":"Jin-yi Cai,Vinay Choudhary,Pinyan Lu","title":"On the Theory of Matchgate Computations.","journal":"Theory Comput. Syst.45(1):108-132(2009)"},
{"year":"2009","author":"Jin-yi Cai,Pinyan Lu","title":"Holographic algorithms: The power of dimensionality resolved.","journal":"Theor. Comput. Sci.410(18):1618-1628(2009)"},
{"year":"2009","author":"Pinyan Lu","title":"On 2-Player Randomized Mechanisms for Scheduling.","journal":"WINE2009:30-41"},
{"year":"2009","author":"Pinyan Lu,Yajun Wang,Yuan Zhou","title":"Tighter Bounds for Facility Games.","journal":"WINE2009:137-148"},
{"year":"2009","author":"Jin-yi Cai,Pinyan Lu,Mingji Xia","title":"Holant problems and counting CSP.","journal":"STOC2009:715-724"},
{"year":"2009","author":"Jin-yi Cai,Pinyan Lu,Mingji Xia","title":"A Computational Proof of Complexity of Some Restricted Counting Problems.","journal":"TAMC2009:138-149"},
{"year":"2008","author":"Jin-yi Cai,Pinyan Lu","title":"Basis Collapse in Holographic Algorithms.","journal":"Computational Complexity17(2):254-281(2008)"},
{"year":"2008","author":"Pinyan Lu,Changyuan Yu","title":"An Improved Randomized Truthful Mechanism for Scheduling Unrelated Machines.","journal":"STACS2008:527-538"},
{"year":"2008","author":"Pinyan Lu,Changyuan Yu","title":"Worst-Case Nash Equilibria in Restricted Routing.","journal":"WINE2008:231-238"},
{"year":"2008","author":"Pinyan Lu, Changyuan Yu","title":"Randomized Truthful Mechanisms for Scheduling Unrelated Machines.","journal":"WINE2008:402-413"},
{"year":"2008","author":"Jin-yi Cai,Pinyan Lu,Mingji Xia","title":"Holographic Algorithms by Fibonacci Gates and Holographic Reductions for Hardness.","journal":"FOCS2008:644-653"},
{"year":"2008","author":"Jin-yi Cai,Pinyan Lu","title":"Signature Theory in Holographic Algorithms.","journal":"ISAAC2008:568-579"},
{"year":"2008","author":"Jin-yi Cai,Pinyan Lu","title":"Holographic algorithms with unsymmetric signatures.","journal":"SODA2008:54-63"},
{"year":"2007","author":"Jin-yi Cai,Pinyan Lu","title":"Bases Collapse in Holographic Algorithms.","journal":"IEEE Conference on Computational Complexity2007:292-304"},
{"year":"2007","author":"Jin-yi Cai,Vinay Choudhary,Pinyan Lu","title":"On the Theory of Matchgate Computations.","journal":"IEEE Conference on Computational Complexity2007:305-318"},
{"year":"2007","author":"Jin-yi Cai,Pinyan Lu","title":"On Block-Wise Symmetric Signatures for Matchgates.","journal":"FCT2007:187-198"},
{"year":"2007","author":"Jin-yi Cai,Pinyan Lu","title":"Holographic Algorithms: The Power of Dimensionality Resolved.","journal":"ICALP2007:631-642"},
{"year":"2007","author":"Jin-yi Cai,Pinyan Lu","title":"On Symmetric Signatures in Holographic Algorithms.","journal":"STACS2007:429-440"},
{"year":"2007","author":"Jin-yi Cai,Pinyan Lu","title":"Holographic algorithms: from art to science.","journal":"STOC2007:401-410"},
{"year":"2006","author":"Pinyan Lu,Shang-Hua Teng,Changyuan Yu","title":"Truthful Auctions with Optimal Profit.","journal":"WINE2006:27-36"}];

var tmpl = _.template("<% _.each(pubs, function(pub) { %>" +
	"<tr><td><%= pub.year %></td><td><%= pub.title %></td><td><%= pub.author %></td><td><%= pub.journal %></td></tr>" + 
  "<% }) %>");

$("#tb").html("<tr><th>Year</th><th>Title</th><th>Author</th><th>Journal</th></tr>" + tmpl({pubs: ths}));

			</script>
			
		</div>

		<div style="border-top:1px solid #d6d6d6; margin-top:3em; margin-bottom: 3em;" class="footer">
			Room 303, School of Information Management and Engineering, Shanghai University of Finance and Economics. <br>No. 100, Wudong Road, Yangpu District, Shanghai, 200433, PRC.
			<br> Copyright: ITCS, SHUFE. All Rights Reserved.
		</div>
	</body>

</html>