<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
	<% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event,i) { %>
                <a data-m="<%= i %>" href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
                   class="pull-left event cal_data_category<%= event['category'] %>" data-category="<%= event['category'] %>" data-toggle="popover" data-popover="true" data-html="true"
                   title="<%= event.title %>" start="<%= event.start %>" end="<%= event.end %>" content="<%= event.content %>" <% if(i >= options.events_show_length) {%>style="display:none;"<% } %>><%= event.title %></a>
                <% if(i >= options.events_show_length && i == events.length - 1) {%>
                    <a class="more_event" href="javascript:;" data-html="true">还有<%= events.length - options.events_show_length %>项...</a>
                <% } %>
			<% }); %>
		</div>
	<% } %>
</div>
