<div class="">
    <table class="table table-bordered">
        <% _.each(days_name, function(name) { %>
        <tr>
            <td class="col-xs-2 text-right">
                <span class="week-day-title"><%= name %></span><br>
                <small><span data-cal-date="<%= start.getFullYear() %>-<%= start.getMonthFormatted() %>-<%= start.getDateFormatted() %>" data-cal-view="day"><%= start.getFullYear() %>-<%= start.getMonthFormatted() %>-<%= start.getDateFormatted() %></span></small>
            </td>
            <td class="col-xs-10"><%= cal._week(start) %></td>
        </tr>
        <% start.setDate(start.getDate() + 1); %>
        <% }) %>
    </table>
</div>