<table class="table table-condensed table-noborder">
<% _.each(events, function(event){ %>
    <tr>
        <td class="col-xs-1 text-center"><div class="category cal_data_category<%= event.category %>"><%= cal_data_category[event.category - 1].title %></div></td>
        <td class="col-xs-1 text-center"><div class="event_time"><%= event.start_hour %></div></td>
        <td class="col-xs-5"><a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" class="cal-event-week event<%= event.id %>"><%= event.title %></a></td>
        <td class="col-xs-5 text-right"><div class="event_content"><%= event.content %></div></td>
    </tr>

<% }); %>
</table>